{% extends 'base.html' %}

{% block content %}

{{ ckeditor.load() }}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

<h1>Add Portfolio...</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>

        {{ form.profile.label(class="form-label") }}
        {{ form.profile(class="form-control", rows="5") }}
        <br/>

        {{ form.experience.label(class="form-label") }}
        {{ form.experience(class="form-control", rows="5") }}
        <br/>
        {{ form.education.label(class="form-label") }}
        {{ form.education(class="form-control", rows="5") }}
        <br/>

        {{ form.skills.label(class="form-label") }}
        {{ form.skills(class="form-control", rows="5") }}
        <br/>
        
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}

{% endblock %}