{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

<h1>Portfolios</h1>
<br/>


<div class="alert alert-light alert-dismissible fade show" role="alert">
    <h3>{{ post.name }}</h3><br/>
    {{ post.profile|safe }}<br/><br/>
    <h5>Experience:</h5> {{ post.experience|safe }}<br/><br/>
    <h5>Education:</h5> {{ post.education|safe }}<br/><br/>
    <h5>Skills:</h5> {{ post.skills|safe }}<br/><br/>
    <hr><br/>
</div>

<a href="{{ url_for('posts' )}}" class="btn btn-outline-secondary btn-sm">Back</a>
<a href="{{ url_for('edit_post', id=post.id )}}" class="btn btn-outline-secondary btn-sm">Edit Portfolio</a>
<a href="{{ url_for('delete_post', id=post.id )}}" class="btn btn-outline-danger btn-sm">Delete Portfolio</a>





{% endblock %}